<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Invoice</title>
    <style>
        /* Your existing styles here */


    </style>
</head>
<body>
<div class="invoice">
    <h1>Invoice</h1>
    <table class="table">
        <tr>
            <td>
                <h2>Seller:</h2>
                <div class="address">
                    <p>{{ vendor_first_name }}</p>
                    <!-- Add more seller information if needed -->
                </div>
            </td>
            <td>
                <h2>Ship To:</h2>
                <div class="address">
                    <p>{{ user_data.first_name }}</p>
                    <p>{{ user_data.house }}, {{ user_data.street }}</p>
                    <p>{{ user_data.city }}, {{ user_data.state }}, {{ user_data.zip_code }}</p>
                </div>
            </td>
        </tr>
    </table>
</div>

<table>
    <thead>
    <tr>
        <th>Description</th>
        <th>Quantity</th>
        <th>Unit Price</th>
        <th>Total</th>
    </tr>
    </thead>
    <tbody>
    {% for item in cart_items %}
    <tr>
        <td>{{ item.product.title }}</td>
        <td>{{ item.quantity }}</td>
        <td>{{ item.product.price }}</td>
        <td>Total: ${{ item.total_price|floatformat:2 }}</td>
    </tr>

    {% endfor %}
    </tbody>
</table>

<div class="row">
    <div class="col">
        <p class="total">Total: ${{ total_cost|floatformat:2 }}</p>
    </div>
</div>
</body>
</html>
